name: onejob_cr

on:
  push:
    branches: ['feature/workflows']
  workflow_dispatch:

jobs:
  
  prod:
    name: Prod Deployment
    description: change_receipt
    environment: Prod
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      
      - name: Setup JDK 11 for Sonar Cloud
        uses: actions/setup-java@v1
        with:
            java-version: 11
      
      - name: Maven Build
        run: mvn clean install -DskipTests=true
        
      - name: Deployment
        run: echo Completed Prod deployment.
